.row {
	display: flex;
	overflow: hidden;
	margin: -10px;
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.a-center {
	align-items: center;
}

.j-between {
	justify-content: space-between;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

body {
	font-family: Work Sans,Arial,Helvetica,sans-serif;
	font-size: 14px;
}

header.res {
	display: none;
}

header {
	margin: 0 100px;
	padding: 20px;
	background-color: #fff;
}

header .row {
	overflow: visible;
	padding-bottom: 5px;
	justify-content: space-between;
	align-items: center;
}

header .row .image img {
	width: 100%;
	color: white;
}

header .row .img {
	display: none;
}

header .row .navigation {
	display: none;
}

header .row nav.nav > ul {
	width: 63%;
	margin: 0 100px 0 50px;
	justify-content: space-between;
}

header .row nav.nav > ul > li {
	font-weight: 700;
	padding: 20px 0;
	cursor: pointer;
}

header .row nav.nav > ul > li a {
	color: black;
}

header .row nav.nav > ul > li a i {
	padding-left: 5px;
}

header .row nav.nav > ul > li .dropdown {
	position: absolute;
	z-index: 1000 !important;
	top: 70px;
	display: flex;
	padding: 30px;
	transition: .4s;
	transform: rotateX(-90deg);
	transform-origin: top left;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

header .row nav.nav > ul > li > ul.homedropdown {
	width: 380px;
}

header .row nav.nav > ul > li > ul.homedropdown li {
	width: 50%;
}

header .row nav.nav > ul > li > ul.homedropdown li p {
	padding: 5px 0;
	color: black;
}

header .row nav.nav > ul > li > ul.homedropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header .row nav.nav > ul > li > ul.homedropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header .row nav.nav > ul > li > ul.homedropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header .row nav.nav > ul > li > ul.shopdropdown {
	left: 18%;
	width: 380px;
}

header .row nav.nav > ul > li > ul.shopdropdown li {
	width: 33%;
}

header .row nav.nav > ul > li > ul.shopdropdown li p {
	padding: 5px 0;
	color: black;
}

header .row nav.nav > ul > li > ul.shopdropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header .row nav.nav > ul > li > ul.shopdropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header .row nav.nav > ul > li > ul.shopdropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header .row nav.nav > ul > li > ul.blogdropdown {
	left: 18%;
	width: 380px;
}

header .row nav.nav > ul > li > ul.blogdropdown li {
	width: 33%;
}

header .row nav.nav > ul > li > ul.blogdropdown li p {
	padding: 5px 0;
	color: black;
}

header .row nav.nav > ul > li > ul.blogdropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header .row nav.nav > ul > li > ul.blogdropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header .row nav.nav > ul > li > ul.blogdropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header .row nav.nav > ul > li > ul.pagedropdown {
	left: 30%;
	width: 190px;
}

header .row nav.nav > ul > li > ul.pagedropdown li {
	width: 100%;
}

header .row nav.nav > ul > li > ul.pagedropdown li p {
	padding: 5px 0;
	color: black;
}

header .row nav.nav > ul > li > ul.pagedropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header .row nav.nav > ul > li > ul.pagedropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header .row nav.nav > ul > li > ul.pagedropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header .row nav.nav > ul > li:nth-child(1) > a {
	color: #2598f1;
	border-bottom: #0090f0 solid 2px;
}

header .row nav.nav > ul > li:nth-child(1):hover ul.homedropdown {
	transform: perspective(500px) rotateX(0deg);
}

header .row nav.nav > ul > li:nth-child(2):hover ul.shopdropdown {
	transform: perspective(500px) rotateX(0deg);
}

header .row nav.nav > ul > li:nth-child(3):hover ul.blogdropdown {
	transform: perspective(500px) rotateX(0deg);
}

header .row nav.nav > ul > li:nth-child(4):hover ul.pagedropdown {
	transform: perspective(500px) rotateX(0deg);
}

header .row .temp {
	padding-left: 30px;
}

header .row form {
	display: flex;
	overflow: hidden;
	border: 2px solid #0090f0;
	border-radius: 30px;
	background-color: white;
	justify-content: space-between;
	align-items: center;
}

header .row form .left {
	display: flex;
	width: 100%;
	margin-left: 3px;
	justify-content: space-between;
}

header .row form .left .dropdown {
	position: absolute;
	z-index: 1000 !important;
	top: 0;
	left: 50%;
	transition: .4s;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

header .row form .left ul.alldropdown {
	z-index: 100;
	display: none;
	overflow-y: scroll;
	height: 300px;
	padding: 10px;
	transform: translate(45%, 25%);
}

header .row form .left ul.alldropdown > li a {
	padding: 5px;
	color: #919191;
}

header .row form .left ul.alldropdown > li > ul.in > li a {
	padding: 5px 0 5px 20px;
	color: #919191;
}

header .row form .left input {
	display: block;
	width: 70%;
	padding: 0 15px 0 30px;
	background: white;
}

header .row form .left a {
	font-size: 15px;
	font-weight: 400;
	display: block;
	padding-right: 20px;
	color: black;
	align-self: start;
}

header .row form .left a i {
	font-size: 10px;
	margin-left: 15px;
}

header .row form .left a:target ul.alldropdown {
	display: block;
}

header .row form .right {
	display: block;
	padding: 15px 5px;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	background-color: #0090f0;
}

header .row form .right i {
	font-size: 20px;
	display: block;
	margin: 2px 17px;
	cursor: none;
	color: white;
}

header .row .contact {
	color: black;
	justify-content: flex-end;
	align-items: center;
}

header .row .contact > i {
	font-size: 30px;
	margin: 10px;
}

header .row .contact .call {
	font-weight: 400;
}

header .row .contact .heart {
	margin-left: 40px;
	align-items: center;
}

header .row .contact .heart:last-child {
	margin-left: 20px;
}

header .row .contact .heart i {
	font-size: 25px;
}

header .row .contact .heart > p {
	font-size: 11px;
	display: block;
	margin: 5px;
	padding: 3px 5px;
	color: white;
	border-radius: 15px;
	background-color: #0090f0;
}

header .row .contact .shop {
	position: relative;
	margin-left: 40px;
	align-items: center;
}

header .row .contact .shop:last-child {
	margin-left: 20px;
}

header .row .contact .shop i {
	font-size: 25px;
}

header .row .contact .shop > p {
	font-size: 11px;
	display: block;
	margin: 5px;
	padding: 3px 5px;
	color: white;
	border-radius: 15px;
	background-color: #0090f0;
}

header .row .contact .shop .cartDown {
	position: absolute;
	z-index: 1000;
	top: 100%;
	right: 0;
	display: none;
	overflow-y: scroll;
	width: 350px;
	max-height: 500px;
	padding: 30px;
	background: white;
	box-shadow: 0 0 10px -3px #333;
}

header .row .contact .shop .cartDown ul li {
	display: flex;
	padding: 10px 0;
	border-bottom: solid #888 1px;
	justify-content: space-between;
}

header .row .contact .shop .cartDown ul li .image {
	width: 30%;
}

header .row .contact .shop .cartDown ul li .image img {
	width: 100%;
}

header .row .contact .shop .cartDown ul li .text {
	width: 60%;
	height: 100%;
	margin-top: 10px;
}

header .row .contact .shop .cartDown ul li .text a {
	display: block;
	margin-bottom: 10px;
	color: black;
}

header .row .contact .shop .cartDown ul li .text p {
	font-size: 17px;
	font-weight: 700;
}

header .row .contact .shop .cartDown ul li .text p span {
	font-size: 15px;
	font-weight: normal;
}

header .row .contact .shop .cartDown ul li .close {
	display: flex;
	color: #0090f0;
	justify-content: flex-end;
}

header .row .contact .shop .cartDown ul li .close p {
	cursor: pointer;
}

header .row .contact .shop .cartDown button {
	font-size: 13px;
	width: 100%;
	margin: 5px 0;
	padding: 12px 0;
	color: white;
	border-radius: 25px;
	background: #0090f0;
}

header .row .contact .shop .cartDown .total {
	display: flex;
	margin-bottom: 20px;
	padding: 20px 0;
	border-bottom: #888 solid 1px;
	justify-content: space-between;
}

header nav.resnav {
	display: none;
}

header nav.resnav > ul {
	width: 80%;
	margin: 0 100px 0 0;
	justify-content: space-between;
}

header nav.resnav > ul > li {
	font-weight: 700;
	padding: 20px 0;
	cursor: pointer;
}

header nav.resnav > ul > li a {
	color: black;
}

header nav.resnav > ul > li a i {
	padding-left: 5px;
}

header nav.resnav > ul > li .dropdown {
	position: absolute;
	z-index: 1000 !important;
	top: 150px;
	display: flex;
	padding: 30px;
	transition: .4s;
	transform: rotateX(-90deg);
	transform-origin: top left;
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

header nav.resnav > ul > li > ul.homedropdown {
	width: 380px;
}

header nav.resnav > ul > li > ul.homedropdown li {
	width: 50%;
}

header nav.resnav > ul > li > ul.homedropdown li p {
	padding: 5px 0;
	color: black;
}

header nav.resnav > ul > li > ul.homedropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header nav.resnav > ul > li > ul.homedropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header nav.resnav > ul > li > ul.homedropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header nav.resnav > ul > li > ul.shopdropdown {
	left: 10%;
	width: 380px;
}

header nav.resnav > ul > li > ul.shopdropdown li {
	width: 33%;
}

header nav.resnav > ul > li > ul.shopdropdown li p {
	padding: 5px 0;
	color: black;
}

header nav.resnav > ul > li > ul.shopdropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header nav.resnav > ul > li > ul.shopdropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header nav.resnav > ul > li > ul.shopdropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header nav.resnav > ul > li > ul.blogdropdown {
	left: 10%;
	width: 380px;
}

header nav.resnav > ul > li > ul.blogdropdown li {
	width: 33%;
}

header nav.resnav > ul > li > ul.blogdropdown li p {
	padding: 5px 0;
	color: black;
}

header nav.resnav > ul > li > ul.blogdropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header nav.resnav > ul > li > ul.blogdropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header nav.resnav > ul > li > ul.blogdropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header nav.resnav > ul > li > ul.pagedropdown {
	left: 25%;
	width: 190px;
}

header nav.resnav > ul > li > ul.pagedropdown li {
	width: 100%;
}

header nav.resnav > ul > li > ul.pagedropdown li p {
	padding: 5px 0;
	color: black;
}

header nav.resnav > ul > li > ul.pagedropdown li ul.grOne li {
	width: 100%;
	padding: 5px 0;
}

header nav.resnav > ul > li > ul.pagedropdown li ul.grOne li a {
	font-size: 12px;
	font-weight: 500;
	transition: all .5s;
	color: #888;
}

header nav.resnav > ul > li > ul.pagedropdown li ul.grOne li a:hover {
	color: #0090f0;
}

header nav.resnav > ul > li:nth-child(1) > a {
	color: #2598f1;
	border-bottom: #0090f0 solid 2px;
}

header nav.resnav > ul > li:nth-child(1):hover ul.homedropdown {
	transform: perspective(500px) rotateX(0deg);
}

header nav.resnav > ul > li:nth-child(2):hover ul.shopdropdown {
	transform: perspective(500px) rotateX(0deg);
}

header nav.resnav > ul > li:nth-child(3):hover ul.blogdropdown {
	transform: perspective(500px) rotateX(0deg);
}

header nav.resnav > ul > li:nth-child(4):hover ul.pagedropdown {
	transform: perspective(500px) rotateX(0deg);
}

.owl-carousellll {
	z-index: 0 !important;
	margin-bottom: 50px;
}

.owl-carousellll .slide {
	position: relative;
}

.owl-carousellll .slide img {
	display: block;
	width: 100%;
}

.owl-carousellll .slide .text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	transform: translate(-110%, -50%);
	color: white;
}

.owl-carousellll .slide .text h6 {
	font-size: 13px;
	font-weight: 400;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding-bottom: 10px;
	transform: scale(.5);
	opacity: 0;
}

.owl-carousellll .slide .text h1 {
	font-size: 50px;
	font-weight: 500;
	transform: scale(.5);
	opacity: 0;
}

.owl-carousellll .slide .text h2 {
	font-size: 38px;
	font-weight: 400;
	line-height: 50%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	transform: scale(.5);
	opacity: 0;
}

.owl-carousellll .slide .text p {
	font-size: 13px;
	font-weight: 400;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 20px 0;
	transform: scale(.5);
	opacity: 0;
}

.owl-carousellll .slide .text a {
	font-weight: 700;
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 10px 0;
	padding: 10px 24px;
	transform: scale(.5);
	opacity: 0;
	color: black;
	border-radius: 25px;
	background: white;
}

.owl-carousellll button.owl-dot span {
	width: 12px !important;
	height: 12px !important;
	background: white !important;
}

.owl-carousellll button.owl-dot.active span {
	background: black !important;
}

.owl-carousellll .owl-dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.owl-carousellll .owl-item.active .slide h6 {
	-webkit-animation: fadeIn 1s 1s forwards;
	animation: fadeIn 1s 1s forwards;
}

.owl-carousellll .owl-item.active .slide h1 {
	-webkit-animation: fadeIn 1s 1.5s forwards;
	animation: fadeIn 1s 1.5s forwards;
}

.owl-carousellll .owl-item.active .slide h2 {
	-webkit-animation: fadeIn 1s 2s forwards;
	animation: fadeIn 1s 2s forwards;
}

.owl-carousellll .owl-item.active .slide p {
	-webkit-animation: fadeIn 1s 3s forwards;
	animation: fadeIn 1s 3s forwards;
}

.owl-carousellll .owl-item.active .slide a {
	-webkit-animation: fadeIn 1s 3.5s forwards;
	animation: fadeIn 1s 3.5s forwards;
}

.fadeSlideIn {
	-webkit-animation: fadeSlideIn 1s forwards;
	animation: fadeSlideIn 1s forwards;
}

.fadeOut {
	-webkit-animation: fadeOut 1s forwards;
	animation: fadeOut 1s forwards;
}

.scroll {
	position: fixed;
	z-index: 1000;
	top: -50px;
	display: none;
	padding-top: 10px;
	transition: all .5s;
	opacity: 0;
}

.scroll.fixed {
	top: 0;
	opacity: 1;
}

.scroll .ttemp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, .856);
}

.scroll .ttemp .container {
	position: fixed;
	top: 0;
	left: 50%;
	width: 1500px;
	height: 50px;
	margin-left: -700px;
	padding: 10px 0;
}

.scroll .ttemp .container .image img {
	width: 50%;
}

.scroll .ttemp .container nav.fix ul {
	width: 50%;
	margin: 0 100px 0 50px;
	justify-content: space-between;
}

.scroll .ttemp .container nav.fix ul li {
	font-weight: 700;
	cursor: pointer;
}

.scroll .ttemp .container nav.fix ul li a {
	color: black;
}

.scroll .ttemp .container nav.fix ul li i {
	padding-left: 5px;
}

.scroll .ttemp .container nav.fix ul li:nth-child(1) {
	color: #2598f1;
	border-bottom: #0090f0 solid 2px;
}

.scroll .ttemp .container nav.fix ul li:nth-child(1) a {
	color: #2598f1;
}

.scroll .ttemp .container .icon {
	display: flex;
	justify-content: flex-end;
}

.scroll .ttemp .container .icon .heart {
	margin-left: 40px;
	justify-content: flex-end;
	align-items: center;
}

.scroll .ttemp .container .icon .heart:last-child {
	margin-left: 20px;
}

.scroll .ttemp .container .icon .heart i {
	font-size: 25px;
}

.scroll .ttemp .container .icon .heart p {
	font-size: 11px;
	display: block;
	margin: 5px;
	padding: 3px 5px;
	color: white;
	border-radius: 15px;
	background-color: #0090f0;
}

.body .container .top {
	overflow: hidden;
}

.body .container .top .left {
	position: relative;
	overflow: hidden;
	height: 99%;
}

.body .container .top .left img {
	width: 100%;
	transition: all .5s;
}

.body .container .top .left img:hover {
	transform: scale(1.05);
}

.body .container .top .left .text {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.body .container .top .left .text p {
	font-weight: bold;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-bottom: 15px;
	padding: 5px 15px;
	color: white;
	border-radius: 25px;
	background-color: #0090f0;
}

.body .container .top .left .text h6 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.body .container .top .left .text h5 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	line-height: .7;
}

.body .container .top .left .text h4 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: 400;
	margin-bottom: 30px;
}

.body .container .top .left .text a {
	font-weight: 700;
	display: block;
	margin-top: 50px;
	color: black;
}

.body .container .top .left .text a i {
	color: #0090f0;
}

.body .container .top .right {
	height: 99%;
}

.body .container .top .right .top {
	position: relative;
	overflow: hidden;
	height: 47%;
	margin-bottom: 22px;
}

.body .container .top .right .top img {
	width: 100%;
	transition: all .5s;
}

.body .container .top .right .top img:hover {
	transform: scale(1.05);
}

.body .container .top .right .top .text {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.body .container .top .right .top .text h5 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	line-height: .7;
}

.body .container .top .right .top .text h4 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 30px;
}

.body .container .top .right .top .text a {
	font-weight: 700;
	display: block;
	margin-top: 50px;
	color: black;
}

.body .container .top .right .top .text a i {
	color: #0090f0;
}

.body .container .top .right .bot {
	position: relative;
	overflow: hidden;
	height: 49%;
}

.body .container .top .right .bot img {
	width: 100%;
	height: 100%;
	transition: all .5s;
}

.body .container .top .right .bot img:hover {
	transform: scale(1.05);
}

.body .container .top .right .bot .text {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.body .container .top .right .bot .text h5 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	line-height: .7;
}

.body .container .top .right .bot .text h4 {
	font-family: Work Sans, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 30px;
}

.body .container .top .right .bot .text a {
	font-weight: 700;
	display: block;
	margin-top: 50px;
	color: black;
}

.body .container .top .right .bot .text a i {
	color: #0090f0;
}

.body .container .utop {
	margin-bottom: 100px;
}

.body .container .utop .option {
	margin-top: 50px;
	margin-bottom: 30px;
}

.body .container .utop .option h3 {
	font-size: 25px;
	font-weight: 400;
	padding-right: 20px;
}

.body .container .utop .listproducts .row {
	margin: 0;
}

.body .container .utop .listproducts .owl-carousel .box {
	width: 100%;
}

.body .container .utop .listproducts .owl-carousel .box .product {
	width: 100%;
	margin-bottom: 20px;
}

.body .container .utop .listproducts .owl-carousel .box .product .item {
	position: relative;
	overflow: hidden;
	width: 100%;
	transition: all .2s;
	border: rgba(51, 51, 51, .2) 1px solid;
	border-radius: 5px;
}

.body .container .utop .listproducts .owl-carousel .box .product .item img {
	width: 100%;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text {
	padding: 20px;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text a {
	display: block;
	margin-bottom: 10px;
	transition: all .2s;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text a:hover {
	color: #0090f0;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text .one {
	font-size: 13px;
	color: grey;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text .two {
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text i {
	font-size: 13px;
	padding-bottom: 20px;
	color: #f8d738;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text .textin {
	align-items: center;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text .textin .in {
	font-size: 16px;
	padding-right: 10px;
	text-decoration: line-through;
	color: #a5a1a1;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .text .textin .out {
	font-size: 19px;
	height: 20px;
	margin-left: -10px;
	color: #0090f0;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .card {
	position: absolute;
	bottom: -100px;
	width: 100%;
	padding: 20px;
	transition: all .2s;
	background: white;
	align-items: center;
	justify-content: space-between;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .card > a {
	font-weight: 700;
	display: block;
	transition: all .4s;
	color: black;
	border-bottom: 1px black solid;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .card > a:hover {
	color: #0090f0;
	border-bottom: 1px #0090f0 solid;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .card .icon {
	display: flex;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .card .icon a {
	font-size: 17px;
	display: block;
	margin-left: 15px;
	color: grey;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .find {
	position: absolute;
	top: 20%;
	left: 50%;
	display: flex;
	transition: all .2s;
	transform: translateX(-50%);
	opacity: 0;
	justify-content: center;
	align-items: center;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .find a {
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 20px;
	transition: all .2s;
	border: 50%;
	border-radius: 50%;
	background: #fafafa;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .find a i {
	font-size: 20px;
	color: black;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .find a:hover {
	background: #0090f0;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .find a:hover i {
	color: white;
}

.body .container .utop .listproducts .owl-carousel .box .product .item .sale {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 15px 7px;
	color: white;
	border-radius: 50%;
	background: #0090f0;
}

.body .container .utop .listproducts .owl-carousel .box .product .item:hover {
	border: #0090f0 1px solid;
}

.body .container .utop .listproducts .owl-carousel .box .product .item:hover .card {
	transform: translateY(-100px);
}

.body .container .utop .listproducts .owl-carousel .box .product .item:hover .find {
	opacity: 1;
}

.body .container .mid-one {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.body .container .mid-one img {
	display: block;
	width: 100%;
	transition: all .2s;
}

.body .container .mid-one:hover img {
	transform: scale(1.02);
}

.body .container .mid-one .text {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.body .container .mid-one .text h5 {
	font-size: 25px;
	font-weight: 400;
}

.body .container .mid-one .text h4 {
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 20px;
	letter-spacing: .5px;
}

.body .container .mid-one .text p {
	font-size: 13px;
	color: #a5a5a5;
}

.body .container .mid-none {
	display: none;
	background: #f1eff0;
}

.body .container .mid-none .text {
	padding: 18px 0;
	text-align: center;
}

.body .container .mid-none .text h5 {
	font-size: 18px;
	font-weight: 400;
}

.body .container .mid-none .text h4 {
	font-size: 23px;
	font-weight: 500;
	padding-bottom: 10px;
	letter-spacing: .5px;
}

.body .container .mid-none .text p {
	font-size: 13px;
	color: #a5a5a5;
}

.body .container .mid-two .title {
	margin-top: 50px;
}

.body .container .mid-two .title h3 {
	font-size: 25px;
}

.body .container .mid-two .title p {
	font-style: italic;
	margin-top: 10px;
	color: #888788;
}

.body .container .mid-two .category {
	margin-top: 20px;
}

.body .container .mid-two .category .row .item .product {
	position: relative;
	display: flex;
	background: #f8f8f8;
	justify-content: flex-end;
}

.body .container .mid-two .category .row .item .product img {
	display: block;
}

.body .container .mid-two .category .row .item .product .text {
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
}

.body .container .mid-two .category .row .item .product .text h6 {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: .2px;
}

.body .container .mid-two .category .row .item .product .text p {
	margin-top: 10px;
	color: #888788;
}

.body .container .mid-two .category .row .item .product .text a {
	display: block;
	margin-top: 10px;
	transition: all .2s;
	color: #333;
}

.body .container .mid-two .category .row .item .product .text a i {
	margin-left: 10px;
	color: #0090f0;
}

.body .container .mid-two .category .row .item .product .text a:hover {
	color: #0090f0;
}

.body .container .mid-three .title {
	margin-top: 50px;
}

.body .container .mid-three .title h3 {
	font-size: 25px;
}

.body .container .mid-three .title p {
	font-style: italic;
	margin-top: 10px;
	color: #888788;
}

.body .container .mid-three .listproducts {
	margin-top: 20px;
}

.body .container .mid-three .listproducts .row {
	margin: 0;
}

.body .container .mid-three .listproducts .owl-carousell .box {
	width: 100%;
}

.body .container .mid-three .listproducts .owl-carousell .box .product {
	width: 100%;
	margin-bottom: 20px;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item {
	position: relative;
	overflow: hidden;
	width: 100%;
	transition: all .2s;
	border: rgba(51, 51, 51, .2) 1px solid;
	border-radius: 5px;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item img {
	width: 100%;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text {
	padding: 20px;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text a {
	display: block;
	margin-bottom: 10px;
	transition: all .2s;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text a:hover {
	color: #0090f0;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text .one {
	font-size: 13px;
	color: grey;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text .two {
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text i {
	font-size: 13px;
	padding-bottom: 20px;
	color: #f8d738;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text .textin {
	align-items: center;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text .textin .in {
	font-size: 16px;
	padding-right: 10px;
	text-decoration: line-through;
	color: #a5a1a1;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .text .textin .out {
	font-size: 19px;
	height: 20px;
	margin-left: -10px;
	color: #0090f0;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .card {
	position: absolute;
	bottom: -40px;
	width: 100%;
	padding: 20px;
	transition: all .2s;
	background: white;
	align-items: center;
	justify-content: space-between;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .card > a {
	font-weight: 700;
	display: block;
	color: black;
	border-bottom: 2px black solid;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .card .icon {
	display: flex;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .card .icon a {
	font-size: 17px;
	display: block;
	margin-left: 15px;
	color: grey;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .find {
	position: absolute;
	top: 20%;
	left: 50%;
	display: flex;
	transition: all .2s;
	transform: translateX(-50%);
	opacity: 0;
	justify-content: center;
	align-items: center;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .find a {
	display: block;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 20px;
	transition: all .2s;
	border: 50%;
	border-radius: 50%;
	background: #fafafa;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .find a i {
	font-size: 20px;
	color: black;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .find a:hover {
	background: #0090f0;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .find a:hover i {
	color: white;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item .sale {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 15px 7px;
	color: white;
	border-radius: 50%;
	background: #0090f0;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item:hover {
	border: #0090f0 1px solid;
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item:hover .card {
	transform: translateY(-40px);
}

.body .container .mid-three .listproducts .owl-carousell .box .product .item:hover .find {
	opacity: 1;
}

.body .container .mid-four {
	overflow: hidden;
	width: 100%;
	margin-top: 50px;
	border: 1px solid rgba(51, 51, 51, .2);
	border-radius: 5px;
}

.body .container .mid-four .owl-carouselll {
	display: flex;
	width: 90%;
	margin: 40px;
	align-items: center;
	justify-content: center;
}

.body .container .mid-four .owl-carouselll .img {
	display: block;
	width: 100%;
}

.body .container .mid-four .owl-carouselll .img img {
	display: block;
	width: 100%;
	transition: all .2s;
}

.body .container .mid-four .owl-carouselll .img img:hover {
	transform: scale(1.1);
}

.body .container .bottom {
	margin: 50px 0;
}

.body .container .bottom .title h3 {
	font-size: 25px;
}

.body .container .bottom .title p {
	font-style: italic;
	margin-top: 10px;
	color: #888;
}

.body .container .bottom .feature .product .item {
	display: flex;
	margin: 20px 10px 20px 0;
	border: 1px solid rgba(51, 51, 51, .2);
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

.body .container .bottom .feature .product .item img {
	width: 45%;
	margin: 20px 0 20px 20px;
}

.body .container .bottom .feature .product .item .text {
	width: 50%;
}

.body .container .bottom .feature .product .item .text p {
	display: block;
	margin-bottom: 10px;
	transition: all .2s;
}

.body .container .bottom .feature .product .item .text .one {
	font-size: 13px;
	color: grey;
}

.body .container .bottom .feature .product .item .text .two {
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.body .container .bottom .feature .product .item .text i {
	font-size: 13px;
	padding-bottom: 20px;
	color: #f8d738;
}

.body .container .bottom .feature .product .item .text .textin {
	align-items: center;
}

.body .container .bottom .feature .product .item .text .textin .in {
	font-size: 16px;
	padding-right: 10px;
	text-decoration: line-through;
	color: #a5a1a1;
}

.body .container .bottom .feature .product .item .text .textin .out {
	font-size: 19px;
	height: 20px;
	margin-left: -10px;
	color: #0090f0;
}

.body .container .bottom .ads {
	position: relative;
}

.body .container .bottom .ads .img {
	overflow: hidden;
	width: 100%;
}

.body .container .bottom .ads .img img {
	display: block;
	width: 100%;
	margin: 0;
	transition: all .5s;
}

.body .container .bottom .ads .text {
	font-size: 25px;
	position: absolute;
	bottom: 120px;
	left: 40px;
}

.body .container .bottom .ads .text .two {
	font-weight: 700;
}

.body .container .bottom .ads .text .three {
	font-weight: 700;
}

.body .container .bottom .ads:hover img {
	transform: scale(1.05);
}

footer {
	background: #0090f0;
}

footer .container .row {
	margin: 10px;
	padding: 50px 0;
}

footer .container .row .left {
	color: #fff;
}

footer .container .row .left img {
	width: 20%;
}

footer .container .row .left p {
	margin: 20px 0;
}

footer .container .row .left .call {
	margin-bottom: 30px;
	align-items: center;
}

footer .container .row .left .call i {
	font-size: 40px;
	display: block;
}

footer .container .row .left .call .text {
	margin-left: 10px;
}

footer .container .row .left .call .text h3 {
	font-weight: 400;
	margin-bottom: 15px;
}

footer .container .row .left .call .text h2 {
	font-size: 25px;
}

footer .container .row .left .brand i {
	font-size: 18px;
	margin-right: 15px;
}

footer .container .row h3 {
	margin-bottom: 15px;
	color: white;
}

footer .container .row ul li {
	margin-bottom: 15px;
}

footer .container .row ul li a {
	color: white;
}

footer .container .row .right h3 {
	margin-bottom: 15px;
	color: #fff;
}

footer .container .row .right p {
	margin-bottom: 15px;
	color: white;
}

footer .container .row .right form {
	display: flex;
	overflow: hidden;
	width: 100%;
	width: 97%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	margin-top: 40px;
	border-radius: 30px;
	background: white;
	justify-content: space-between;
}

footer .container .row .right form input {
	display: block;
	width: 70%;
	padding: 20px;
}

footer .container .row .right form button {
	display: block;
	width: 25%;
	padding: 15px;
	color: white;
	background: #333;
}

footer .copyright {
	padding: 20px 0;
	background-color: #0182d8;
}

footer .copyright .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .copyright .container p {
	color: white;
}

footer .copyright .container img {
	display: block;
	width: 20%;
}

.totop {
	font-weight: 500;
	position: fixed;
	z-index: 1000;
	right: 15px;
	bottom: -100px;
	display: flex;
	padding: 15px;
	cursor: pointer;
	transition: all .5s;
	opacity: 0;
	color: white;
	border: 2px black solid;
	border-radius: 50%;
	background: black;
	justify-content: center;
	align-items: center;
}

.totop a {
	color: #fff;
}

.totop:hover {
	border: solid #2598f1 2px;
	background: #0090f0;
}

.totop.fixed {
	bottom: 50px;
	opacity: 1;
}

.compare {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	justify-content: center;
	align-items: center;
}

.compare-box {
	position: absolute;
	display: block;
	display: flex;
	width: 90%;
	height: 90vh;
	border: 1px solid #adadad;
	background: #4f4f4f;
	justify-content: center;
	align-items: center;
}

.compare-content {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 20px) !important;
	margin: 10px;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 -3px 1px black;
}

.compare-header {
	display: flex;
	width: calc(100% - 20px);
	margin: 10px;
	background: #4f4f4f;
	justify-content: center;
}

.compare-header h3 {
	padding: 15px;
	color: white;
}

.compare-middle {
	overflow-y: scroll;
	height: 87%;
}

.compare-middle table,
.compare-middle th,
.compare-middle td {
	border-collapse: collapse;
	border: 2px solid #e8e8e8;
}

.compare-middle table {
	width: calc(100% - 40px) !important;
	margin: 20px;
}

.compare-middle table td {
	text-align: center;
	background: #f7f7f7;
}

.compare-middle table th {
	padding: 15px;
	text-align: left;
	background: #f2f2f2;
}

.compare-middle table .removeT p {
	cursor: pointer;
	align-items: center;
}

.compare-middle table .removeT p i {
	color: red;
}

.compare-middle table img {
	width: 20%;
	margin: 20px;
	border: 2px solid grey;
}

.compare-middle table .priceT td {
	text-decoration: underline;
}

.compare-middle table .availabilityT td {
	color: #090;
}

.compare-middle table button {
	padding: 7px 20px;
	transition: all .3s;
	color: white;
	border: 1px solid black;
	background: #4f4f4f;
}

.compare-middle table button:hover {
	background: #868686;
}

.compare-close {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 4%;
	border-top: 1px solid #d2d2d2;
	background: #e5e5e5;
	justify-content: flex-end;
	align-items: center;
}

.compare-close i {
	font-size: 25px;
	margin: 10px;
	transition: all .2s;
	color: #7c7c7c;
}

.compare-close i:hover {
	color: black;
}

@media (min-width: 1500px) {

.row .col-xl-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-xl-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-xl-3 {
	width: 25%;
	padding: 10px;
}

.row .col-xl-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-xl-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-xl-6 {
	width: 50%;
	padding: 10px;
}

.row .col-xl-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-xl-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-xl-9 {
	width: 75%;
	padding: 10px;
}

.row .col-xl-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-xl-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-xl-12 {
	width: 100%;
	padding: 10px;
}

.container {
	max-width: 1400px;
}

.container .resnav {
	display: none;
}

.container .utop .listproducts .product {
	width: 20%;
	padding: 15px;
}

}

@media (max-width: 1500px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 10px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 10px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 10px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 10px;
}

.container {
	max-width: 1200px;
}

header .row nav.nav {
	display: none;
}

header .row form .left .dropdown {
	z-index: 10000;
	left: 40%;
}

header nav.resnav {
	display: block;
}

.scroll .ttemp .container {
	width: 1200px;
	margin-left: -600px;
}

.container form .left {
	width: 100%;
}

.container form .left input {
	width: 70% !important;
}

.container .nav {
	display: none;
}

}

@media (max-width: 1200px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-md-3 {
	width: 25%;
	padding: 10px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-md-6 {
	width: 50%;
	padding: 10px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-md-9 {
	width: 75%;
	padding: 10px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-md-12 {
	width: 100%;
	padding: 10px;
}

.container {
	max-width: 992px;
}

header row nav.resnav {
	display: none;
}

.owl-carousellll .slide .text h6 {
	font-size: 10px;
}

.owl-carousellll .slide .text h1 {
	font-size: 45px;
}

.owl-carousellll .slide .text h2 {
	font-size: 35px;
}

.owl-carousellll .slide .text p {
	font-style: 10px;
}

.scroll .ttemp .container {
	width: 992px;
	margin-left: -495px;
}

}

@media (max-width: 992px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 10px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 10px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 10px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 10px;
}

.container {
	max-width: 720px;
}

header {
	padding: 20px;
}

header .row .navigation {
	display: block;
	border: solid 2px white;
}

header .row .navigation i {
	font-size: 20px;
	margin: 5px 7px;
	color: #555;
}

header .row .image {
	display: none;
}

header .row .img {
	display: block;
	padding-left: 50px;
}

header .row .temp {
	display: none;
}

header .row .contact {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

header .row .contact > i {
	display: none;
}

header .row .contact p {
	display: none;
}

header .row .contact .heart p {
	color: white;
	background-color: red;
}

header nav.resnav {
	display: none;
}

.owl-carousellll .slide .text h6 {
	font-size: 10px;
}

.owl-carousellll .slide .text h1 {
	font-size: 30px;
}

.owl-carousellll .slide .text h2 {
	font-size: 20px;
}

.owl-carousellll .slide .text p {
	font-size: 10px;
}

.owl-carousellll .slide .text a {
	font-size: 10px;
}

.scroll {
	display: none;
}

.scroll .container {
	width: 1200px;
	margin-left: -600px;
}

.body .container .mid-one .text {
	display: none;
}

.body .container .mid-none {
	display: block;
}

.body .container .utop {
	margin-top: 30px;
}

.body .container .utop .option {
	display: none;
}

footer .copyright .container {
	display: flex;
	flex-direction: column;
}

footer .copyright .container img {
	width: 40%;
	margin-top: 25px;
}

}

@media (max-width: 700px) {

.container {
	max-width: 700px;
}

header.res {
	display: block;
}

header.res .img {
	display: flex;
	justify-content: center;
}

header.res img {
	width: 100px;
}

header .row .img {
	display: none;
}

.utop {
	margin-top: 30px;
}

.utop .option {
	display: none;
}

}

@media (max-width: 480px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 10px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 10px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 10px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 10px;
}

}

@-webkit-keyframes fadeIn {

from {
	transform: scale(.5);
	opacity: 0;
}

to {
	transform: scale(1);
	opacity: 1;
}

}

@keyframes fadeIn {

from {
	transform: scale(.5);
	opacity: 0;
}

to {
	transform: scale(1);
	opacity: 1;
}

}

@-webkit-keyframes fadeSlideIn {

from {
	transform: translateX(-100%);
}

to {
	transform: translateX(0);
}

}

@keyframes fadeSlideIn {

from {
	transform: translateX(-100%);
}

to {
	transform: translateX(0);
}

}

@-webkit-keyframes fadeOut {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

@keyframes fadeOut {

from {
	opacity: 1;
}

to {
	opacity: 0;
}

}

